.scheduleRoom__wrapper {
    color: #c3c3c3;
    background-color: #282828;
    min-height: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.scheduleRoom__info-wrapper {
    display: flex;
    flex:1;
    padding: 1rem 1rem 1rem .6rem;
}

.scheduleRoom__status-bar {
    width: 20px;
    margin-right: 1rem;
}
.available .scheduleRoom__status-bar{
    background-color: #5C7829;
}
.reserved .scheduleRoom__status-bar{
    background-color: #CC3333;
}
.pending .scheduleRoom__status-bar {
    background-color: #B7B327;
}

.scheduleRoom__timeblocks {
    display: flex;
    flex-wrap: nowrap;
}
.scheduleRoom__timeblocks .available{
    border-bottom-color: #5C7829;
}
.scheduleRoom__timeblocks .unavailable{
    border-bottom-color:  rgb(192, 56, 56)
}

.scheduleRoom__timeblocks .prev img,
.scheduleRoom__timeblocks .next img {
    height: 1rem;
}

.scheduleRoom__timebtn {
    border:0;
    border-radius: 0;
    color: #fff;
    background-color: #333;
    min-width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #333;
    font-size: .8rem;
    padding: .5rem;
    cursor: pointer;
    transition: color .3s linear;
}

.scheduleRoom__timebtn.from{
    color: #000;
    background-color: #fff;
}

.scheduleRoom__timebtn:last-child {
    
}

.scheduleRoom__info-details-wrapper {
    display: flex;
    flex-direction: column;
    flex:1;
}
.scheduleRoom__buttons-wrapper {
    flex:1;
    justify-content: left;
    display: flex;
    align-items: flex-end;
}
