header {
	align-items: center;
    .linksBar {
        width: 100%;
    }
    a {
        padding: 0 15px;
    }
    button {
    }
    .linkThemeSwitcher {
        display: flex;
    }
    .navLinks {
        padding-left: 48px;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}
