@mixin arrow-down {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top:0;
    border-style: solid;
    border-width: .5rem .5rem 0 .5rem;
}

@mixin arrow-up {
    @include arrow-down;
    top: auto;
    bottom: 0;
    transform: rotate(180deg);
}

@mixin arrow-available-down {
    @include arrow-down;
    border-color: transparent;
    border-top-color: inherit;
}

@mixin arrow-available-up {
    @include arrow-up;
    border-color: transparent;
    border-top-color: inherit;
}

.roomEvents {
    .baseWrapper {
        min-height: 14.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .infoWrapper {
        display: flex;
        flex:1;
        padding: 1rem 1rem 1rem .6rem;
    }

    .statusBar {
        width: 20px;
        margin-right: 1rem;
    }

    .timeline {
        display: flex;
        height: 3rem;
        .prev, .next {
            width: 40px;
            min-width: auto;
            border-radius: 0;
        }
        .prev:disabled, .next:disabled {
            cursor: default;
            svg {
                opacity: .3;
            }
        }
        .buttonsWrapper {
            position: relative;
            overflow: hidden;
            display: flex;
            flex: 1;
            span {
                color: inherit;
                text-shadow: none;
                transition: color .3s, text-shadow .3s;
            }
            &.loading span {
                color: transparent;
                text-shadow: 0 0 2px rgba(0,0,0,0.2);
            }
        }
        .timeButtons {
            display: flex;
            position: absolute;
            left: 0;
            height: 100%; 
            transition: left .3s;
        }
        .timebtn {
            border-radius: 0;
            min-height: auto;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 3px solid transparent;
            border-left: none;
            border-right: none;
            border-top: 0px solid transparent;
            font-size: .8rem;
            padding: .5rem;
            cursor: pointer;
            transition: color .3s, opatity .3s, width .3s;

            &.intermediate {
                border-top-width: 3px;
            }

            &.postData {
                font-weight: bold;
                text-decoration: underline;
                border-top-width: 3px;
                &:after {
                    @include arrow-available-down;
                }
                &:before {
                    @include arrow-available-up;
                }
            }
        }
    }


    .detailsWrapper {
        display: flex;
        flex-direction: column;
        flex:1;
    }
    .addEventWrapper {
        display: flex;
        align-items: flex-end;
        flex: 1;
        .times {
            padding-left: 2px;
        }
    }

    .timeline .timebtn {
        min-width: 72px;
        width: 72px;
        max-width: 72px;
    }

}
