$availableColor: #388e3c;
$pendingColor: #B7B327;
$reservedColor: #CC3333;

@mixin arrow-down {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top:0;
    border-style: solid;
    border-width: .5rem .5rem 0 .5rem;
}

@mixin arrow-up {
    @include arrow-down;
    top: auto;
    bottom: 0;
    transform: rotate(180deg);
}

@mixin arrow-available-down {
    @include arrow-down;
    border-color: $availableColor transparent transparent transparent;
}

@mixin arrow-available-up {
    @include arrow-up;
    border-color: $availableColor transparent transparent transparent;
}

@mixin arrow-reserved-down {
    @include arrow-down;
    border-color: $reservedColor transparent transparent transparent;
}
@mixin arrow-reserved-up {
    @include arrow-down;
    border-color: $reservedColor transparent transparent transparent;
}

@mixin arrow-pending-down {
    @include arrow-down;
    border-color: $pendingColor transparent transparent transparent;
}

@mixin arrow-pending-up {
    @include arrow-up;
    border-color: $pendingColor transparent transparent transparent;
}

.roomEvents {
    .baseWrapper {
        color: #c3c3c3;
        background-color: #282828;
        min-height: 14.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .infoWrapper {
        display: flex;
        flex:1;
        padding: 1rem 1rem 1rem .6rem;
    }

    .statusBar {
        width: 20px;
        margin-right: 1rem;
        &.available {
            background-color: $availableColor;
        }
        &.reserved {
            background-color: $reservedColor;
        }
        &.pending {
            background-color: $pendingColor;
        }
    }

    .timeline {
        display: flex;
        height: 3rem;
        .prev, .next {
            width: 40px;
            min-width: auto;
            background-color: #333;
            border-radius: 0;
        }
        .next svg, .prev svg {
            fill: #fff;
            height: 1rem;
        }
        .next svg {
            transform: rotate(180deg);
        }
        .prev:disabled, .next:disabled {
            cursor: default;
            svg {
                opacity: .3;
            }
        }
        .buttonsWrapper {
            position: relative;
            overflow: hidden;
            display: flex;
            flex: 1;
            span {
                color: inherit;
                text-shadow: none;
                transition: color .3s, text-shadow .3s;
            }
            &.loading span {
                color: transparent;
                text-shadow: 0 0 5px rgba(0,0,0,0.5);
            }
        }
        .timeButtons {
            display: flex;
            position: absolute;
            left: 0;
            height: 100%; 
            transition: left .3s;
        }
        .timebtn {
            border-radius: 0;
            color: #fff;
            background-color: #333;
            min-height: auto;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 3px solid #333;
            border-left: none;
            border-right: none;
            border-top: 3px solid transparent;
            font-size: .8rem;
            padding: .5rem;
            cursor: pointer;
            transition: color .3s, opatity .3s, width .3s;
            &.available {
                border-bottom-color: $availableColor;
            }
            &.reserved {
                border-bottom-color: $reservedColor;
            }
            &.pending {
                border-bottom-color: $pendingColor;
            }

            &.intermediate {
                border-top-color: $availableColor;
            }

            &.postData {
                font-weight: bold;
                text-decoration: underline;
                border-top-color: $availableColor;
                &:after {
                    @include arrow-available-down;
                }
                &:before {
                    @include arrow-available-up;
                }
            }

            &.selected {
                opacity: .8;
                cursor: default;
            }
        }
    }


    .detailsWrapper {
        display: flex;
        flex-direction: column;
        flex:1;
    }
    .addEventWrapper {
        display: flex;
        align-items: flex-end;
        flex: 1;
    }

    .timeline .timebtn {
        min-width: 72px;
        width: 72px;
        max-width: 72px;
    }

}


