.events {
    .roomsList {
        margin:0;
    }
    .filter {
        margin-bottom: 1rem;
    }
    .roomsFilterValueWrapper {
        display: flex;
        justify-content: flex-end;
    }
    .roomEvents.roomsLen1 {
        width: 100%;
        margin: 0; 
        .MuiGrid-item {
            flex: 1;
            padding: 0;
            width: 100%;
        }
    }
}
