
.eventsRoom__wrapper {
    color: #c3c3c3;
    background-color: #282828;
    min-height: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.eventsRoom__info-wrapper {
    display: flex;
    flex:1;
    padding: 1rem 1rem 1rem .6rem;
}

.eventsRoom__status-bar {
    width: 20px;
    margin-right: 1rem;
}
.available .eventsRoom__status-bar{
    //background-color: #5C7829;
}
.reserved .eventsRoom__status-bar{
    //background-color: #CC3333;
}
.pending .eventsRoom__status-bar {
    //background-color: #B7B327;
}

.eventsRoom__timeblocks {
    display: flex;
    flex-wrap: nowrap;
}
.eventsRoom__timeblocks .available{
    border-bottom-color: #4caf50;
}
.eventsRoom__timeblocks .unavailable{
    border-bottom-color:  #f44336;
}

.eventsRoom__timeblocks .prev img,
.eventsRoom__timeblocks .next img {
    height: 1rem;
}

.eventsRoom__timebtn {
    border:0;
    border-radius: 0;
    color: #fff;
    background-color: #333;
    min-width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #333;
    font-size: .8rem;
    padding: .5rem;
    cursor: pointer;
    transition: color .3s linear;
}

.eventsRoom__timebtn.from{
    color: #000;
    background-color: #fff;
}

.eventsRoom__timebtn:last-child {
    
}

.eventsRoom__info-details-wrapper {
    display: flex;
    flex-direction: column;
    flex:1;
}
.eventsRoom__buttons-wrapper {
    flex:1;
    justify-content: left;
    display: flex;
    align-items: flex-end;
}
