* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html {
    font-size: 15px;
}
body {
    padding:0;
    margin:0;
    background-color: #191919;
    color: #F0F0F0;
}
.container {
    overflow: hidden;
}
.rooms {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.room_wrapper {
    color: #c3c3c3;
    background-color: #282828;
    min-height: 14.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.room {
    width: 33.3%;
    padding:15px;
}

.room_info-wrapper {
    display: flex;
    flex:1;
    padding: 1em 1em 1em .6em;
}

.room_status-bar {
    width: 20px;
    margin-right: 1rem;
}
.available .room_status-bar{
    background-color: #5C7829;
}
.occupied .room_status-bar{
    background-color: #CC3333;
}
.pending .room_status-bar {
    background-color: #B7B327;
}

.room_timeblock {
    border:0;
    border-radius: 0;
    color: #fff;
    background-color: #333;
    min-width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #333;
    font-size: .8em;
    padding: .5em;
    cursor: pointer;
    transition: color .3s linear;
}
.room_timeblocks .available{
    border-bottom-color: #5C7829;
}
.room_timeblocks .unavailable{
    border-bottom-color:  rgb(192, 56, 56)
}
.room_timeblock.from{
    color: #000;
    background-color: #fff;
}

.room_timeblocks .prev img,
.room_timeblocks .next img {
    height: 1em;
}

.room_timeblock:last-child {
    border-right-color: #000;
}

.room_info-details-wrapper {
    display: flex;
    flex-direction: column;
    flex:1;
}
.room_buttons-wrapper {
    flex:1;
    justify-content: left;
    display: flex;
    align-items: flex-end;
}
