.addEvent{
   .MuiAlert-root {
       margin:0;
   }
   .created p {
       text-align: center;
   }
   .created a {
       text-decoration: underline;
       &:hover {
           text-decoration: none;
       }
   }
   .MuiSkeleton-root {
       height: 3.5rem;
   }
   .MuiSkeleton-root.button {
       height: 4rem;
   }
}
